/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  --very-dark-blue: hsl(217, 19%, 35%);
  --desaturated-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-blue: hsl(210, 46%, 95%);
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ---Desktop Flow--- */

@media screen and (min-width: 850px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 730px;
    height: 280px;
    background-color: white;
    border-radius: 10px;
  }

  .content-container {
    padding: 32px 40px;
  }

  .image-container img {
    width: 285px;
    height: 280px;
    border-radius: 10px 0 0 10px;
  }

  .content h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--very-dark-blue);
    margin-bottom: 15px;
  }

  .content p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--desaturated-blue);
    font-weight: 500;
    margin-bottom: 15px;
  }

  .user-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar {
    display: flex;
    align-items: center;
  }

  .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .avatar h2,
  .avatar p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
  }

  .avatar h2 {
    font-weight: 700;
    color: var(--very-dark-blue);
  }

  .avatar p {
    font-weight: 500;
    color: var(--grayish-blue);
  }

  .share-btn {
    border: transparent;
    background: transparent;
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 50%;
  }

  .fa-share {
    color: var(--desaturated-blue);
  }

  .share-box-content {
    display: none;
  }

  .share-box {
    position: absolute;
    bottom: 41.5%;
    right: 22%;
  }

  .icon-box {
    width: 248px;
    height: 55px;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px var(--light-blue);
  }

  .icon-box p {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--grayish-blue);
  }

  .fa-facebook-square,
  .fa-twitter {
    margin-right: 13px;
  }

  i {
    font-size: 20px;
    color: white;
  }

  .pointer {
    background-color: var(--very-dark-blue);
    width: 27px;
    height: 27px;
    transform: rotate(45deg);
    position: relative;
    top: -20px;
    right: -44%;
  }

  .mobile-btn {
    display: none;
  }

  .show {
    display: block;
  }
}
