/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  --very-dark-blue: hsl(217, 19%, 35%);
  --desaturated-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-blue: hsl(210, 46%, 95%);
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---Mobile Flow--- */

@media screen and (max-width: 849px) {
  .container {
    max-width: 327px;
    height: 512px;
    background-color: white;
    border-radius: 10px;
  }

  .image-container {
    height: 200px;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .content {
    padding: 0 32px;
  }

  .content h1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--very-dark-blue);
    margin-top: 25px;
  }

  .content p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    margin-top: 25px;
    color: var(--desaturated-blue);
    margin-bottom: 25px;
  }

  .user-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 32px;
  }

  .avatar {
    display: flex;
    align-items: center;
  }

  .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .avatar h2,
  .avatar p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
  }

  .avatar h2 {
    font-weight: 700;
    color: var(--very-dark-blue);
  }

  .avatar p {
    font-weight: 500;
    color: var(--grayish-blue);
  }

  .share-btn {
    border: transparent;
    background: transparent;
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    bottom: 19%;
    right: 13%;
  }

  .fa-share {
    color: var(--desaturated-blue);
  }

  .share-box-content {
    display: none;
    z-index: -5;
  }

  .share-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background-color: var(--very-dark-blue);
    bottom: 16%;
    width: 327px;
    height: 77px;
    border-radius: 0 0 10px 10px;
  }

  .icon-box {
    display: flex;
    align-items: center;
  }

  .icon-box {
    align-self: center;
  }

  .icon-box p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--grayish-blue);
    margin: 0 30px;
  }

  i {
    font-size: 20px;
    color: white;
  }

  .mobile-btn {
    margin-left: 25px;
  }

  .fa-facebook-square,
  .fa-twitter {
    margin-right: 15px;
  }

  .show {
    display: block;
  }

  .show .share-btn button {
    background-color: var(--desaturated-blue);
    color: var(--light-blue);
  }
}
